* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

.mapboxgl-ctrl-top-right {
    width: 100%;
    right: unset !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.mapboxgl-ctrl-geocoder {
    margin: 10px 0 0 10px !important;
    height: max-content;
}

.mapboxgl-popup-content {
    padding: 10px !important;
}

.mapboxgl-popup h3 {
    margin: 5px 0px;
}

.mapboxgl-popup {
    top: -30px !important;
    max-width: 400px;
    font: 12px/20px 'Poppins', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#searchForm {
    position: absolute;
    z-index: 1;
    margin: 10px 0 0 10px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
    width: 400px;
    border-radius: 2px;
}

.autocomplete {
    position: relative;
}

#locationSuggestion {
    position: absolute;
    width: 100%;
    min-height: 100px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
    background-color: white;
    border-radius: 2px;
    margin-top: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#locationSuggestion:hover {
    cursor: pointer;
}

.searchResult {
    margin-top: 5px;
    padding: 2px 10px;
}

.searchResult:hover {
    background-color: rgba(0, 0, 0, .1);
}

h2 {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}

p {
    margin: 0;
    font-weight: 300;
    color: rgb(150, 150, 150);
    margin-top: 2px;
}

#mySearch {
    width: 380px;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
}

.hoverSearchResultClass {
    background-color: rgba(0, 0, 0, .1);
}